@import url("styles/header.css");
@import url("styles/banner.css");
@import url("styles/carrossel.css");
@import url("styles/topicos.css");
@import url("styles/contato.css");
@import url("styles/rodape.css");

:root {
--cor-de-fundo: #8d8983d7;
--branco: #ffffff;
--laranja: #8f6e28;
--azul-degrade:linear-gradient(97.54deg, hsla(39, 52%, 44%, 0.815) 35.49%, #a18433b9 165.37%);
--fonte-principal:"Poppins";
--azul: #002F52;
--fonte-secundario: "Josefin Sans";
--preto: #000000;
}

body {
    background-color: var(--cor-de-fundo);
    font-family:var(--fonte-principal);
    font-size:16px;
    font-weight:400;
}

h1 {
    background-color: #EBECEE;
}

